 *{
	box-sizing: border-box;
} 

.conteiner{
	background: url(/solar_power_plant/src/img/fon.jpg)no-repeat center;
  height: 900px;
	width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}

.logo{
	background: url(/solar_power_plant/src/img/logo_1.svg)no-repeat;
	width: 182.09px;
  height: 51px;
	/* padding-top:70px; */
	margin-top: 10px;
	}

.social{
	background: url(/solar_power_plant/src/img/social_media.png)no-repeat;
	width: 166.12px;
  height: 30.03px;
	margin-top: 210px;
}

.Green{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
margin-top: 150px;
}

.solar{
font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 87px;
font-variant: small-caps;
color: #FFFFFF;
}

.income{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 57px;
color: #FFFFFF;
margin-top: 3px;
}

.consultation{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
margin-top: 10px;
}

.header-2{
	display: flex;
	width: 100%;
	
	padding: 0px 0px 0px 204px;
	margin: 150px 0px 0px 0px;
}

.services{
font-family:sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #868585;
margin: 0px 0px 50px 0px;
}

  .container2{
	display: flex;
	width: 100%;
	height: 680px;
	margin: 0px 0px 150px 0px;
  justify-content: space-evenly;
	align-items: flex-end;
}

.box-left{
	width: 30%;
}

.box-right{
width:600px;
height: 670px;
}

.full{
font-family:sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
margin: 0px 0px 15px 0px;

}

.models{
font-family:sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 19px;
margin: 0px 0px 50px 0px;
}

.selection{
font-family:sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
margin: 0px 0px 15px 0px;
}

.maximum{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
margin: 0px 0px 50px 0px;
}

.item_1{
font-family:sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
margin: 0px 0px 15px 0px;
}

.item_2{
font-family:sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 19px;
margin: 0px 0px 50px 0px;
}

.help{
	font-family:sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
margin: 0px 0px 15px 0px;
}

.bureaucracy{
	font-family:sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}

.green_tariff{
font-family:sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #868585;
height: 33px;
margin-left: 150px;
}

.container-3{
	display: flex;
	width: 100%;
	height: 800px;
	flex-direction: column;
	flex-wrap:wrap;
	}

.left_content{
	width: 35%;

	display: flex;
	flex-wrap: wrap;
}

.right_content{
	width: 35%;
}

.menu_1{
	width:80%;
	height: 22px;
	margin-left: 150px;
	margin-bottom: 70px;
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color:black;
	}

.sale{
	padding-right: 40px;
	color:black;
}

.consolidation{
	padding-right: 40px;
	color:black;
}
.restrictions{
	color:black;
}

.price_1{
display: grid;
grid-template-columns:1fr 1fr;
grid-gap: 40px;
}

.traficHouse{
	width: 235px;
height: 200px;
margin-left: 150px;
margin-bottom: 50px;
}

.special{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #303030;
	width: 600px;
	height: 130px;
	padding: 0px 0px 17px 0px;
}

.price{
width:235px;
font-family:sans-serif;
font-weight:400;
font-size:14px;
line-height:19px;
color:#303030;

}
.element1{
	margin-left: 150px;
}

.element3{
	margin-left: 150px;
}

.guarantee{
font-family:sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
width:184px;
height:26px;
margin-bottom: 5px;
}

.ransom{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;
width:235px;
height:78.44px;
}

.view{
font-family:sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
Width:160px;
Height:25px;
margin-bottom: 5px;
}

.alternative{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #303030;
	Width:235px;
  Height:57px;
}

.long{
font-family:sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
Width:160px;
Height:26px;
margin-bottom: 5px;
}

.project{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #303030;
	Width:235px;
  Height:76px;
}

.bid{
	font-family:sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color:#303030;
	Width:160px;
  Height:28px;
  margin-bottom: 5px;
}

.europe{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #303030;
	Width:235px;
	Height:40px;
}

.container-4{
	width:100%;
	height:500px;
	background: url(/solar_power_plant/src/img/big.jpg)no-repeat center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 150px;
}

.income{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 57px;
text-align: center;
color: #FFFFFF;
Width:673px;
Height:228px;
}

.clients{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #868585;
	padding-bottom: 50px;
}

.container-5{
	display: flex;
	Width:100%;
	justify-content: space-evenly;
	height: 495px;
}

.left2{
display: flex;
width: 510px;
height: 370px;
flex-direction: column;
padding-bottom: 50px;
}

.luminous{
	width: 510px;
  height: 370px;
}

.right2{
	display: flex;
  flex-direction: column;
justify-content:flex-start;
	align-items: center;
}

.connected{
	font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
width: 478px;
height: 50px;
margin: 0px 0px 30px 0px;
}

.location{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;
margin: 0px 0px 15px 0px;
}

.net_income{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color : #303030;
margin: 0px 0px 15px 0px;

}

.april{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;
margin: 0px 0px 16px 0px;
}
.term{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;
margin: 0px 0px 16px 0px;
}

.link_consultation{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
  color: #303030;
  text-decoration:underline;
	margin: 124px 0px 198px 0px;
}

.container-6{
	width:100%;
	height: 730px;
	display: flex;
	justify-content: space-evenly;
}

.right3{
	
	width: 600px;
  height: 730px;
	display: flex;
}

.car{
	width: 600px;
  height: 730px;
}

.left3{
display: flex;
flex-direction: column;
}

.steps{
font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #868585;
width: 324px;
height: 66px;
margin:50px 0px 60px 50px;
}

.number-1{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #868585;
width: 17px;
height: 19px;
margin:0px 0px 11px 50px;
}

.call{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
  color: #303030;
	margin:0px 0px 2px 50px;

}

.request{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;	
margin:0px 0px 30px 50px;
width: 510px;
height: 38px;
}

.number-2{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #868585;
margin:0px 0px 11px 50px;
}

.froze{
	font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
margin:0px 0px 2px 50px;
}

.options{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;
margin:0px 0px 30px 50px;
width: 510px;
height: 38px;
}

.number-3{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #868585;
margin:0px 0px 10px 50px;
}

.conclusion{
font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
margin:0px 0px 2px 50px;
}

.breakdown{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;
width: 510px;
height: 38px;
margin:0px 0px 30px 50px;
}

.number-4{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #868585;
margin:0px 0px 10px 50px;
}

.installation_ses{
font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
margin:0px 0px 2px 50px;
}

.our_specialists{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;
width: 510px;
height: 38px;
margin:0px 0px 30px 50px;
}

.number-5{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #868585;
margin:0px 0px 10px 50px;
}

.state{
	font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
margin:0px 0px 2px 50px;
}

.kilowatt{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #303030;
width: 510px;
height: 57px;
margin: 0px 0px 0px 50px;
}

.image-footer{
	width: 100%;
	height: 730px;
	background:url(../img/Rectangle\ 13.png)no-repeat center;
  display: flex;
  margin: 150px 0px 0px 0px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.left-footer{
width: 30%;
height: 500px;
}

.right-footer{
	width: 30%;
height: 500px;
}

.footer-end{
	width: 100%;
	height: 170px;
}

.submit{
	font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
margin: 0px 0px 60px 0px;
}

.name{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: black;
margin: 0px 0px 11px 0px;
font-size:20px;
font-weight:bold;
}

.line2{
	background: url(../img/Line\ 2.png);
	border: 1px solid #FFFFFF;
	margin: 0px 0px 60px 0px;
}

.phone{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
line-height: 19px;
color:black;
margin: 0px 0px 11px 0px;
font-size:20px;
font-weight:bold;
}

.line3{
	background: url(../img/Line\ 3.png);
	border: 1px solid #FFFFFF;
	margin: 0px 0px 119px 0px;
}

.sumbit_2{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}

.contacts_footer{
font-family:sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
margin: 0px 0px 60px 0px;
}

.moscow{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
margin: 0px 0px 30px 0px;
width: 600px;
height: 50px;
}

.kyiv{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
  color: #FFFFFF;
	margin: 0px 0px 30px 0px;
	width: 600px;
  height: 50px;
	}

	.kharkov{
		font-family:sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #FFFFFF;
		margin: 0px 0px 30px 0px;
	}

	.mobile_number{
		font-family:sans sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
	  color: #FFFFFF;
		width: 600px;
    height: 50px;
		margin: 0px 0px 30px 0px;
	}

	.daily{
font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}

.footer-end{
display: flex;
justify-content: space-around;
align-items: flex-end;
}

.politics_footer{
	font-family:sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}

.footer-logo1{
background: url(/solar_power_plant/src/img/logo_1.svg)no-repeat center;
width: 182px;
height: 51px;
}

.footer-watshap{
	background: url(/solar_power_plant/src/img/social_media.png)no-repeat center;
	width: 166.04px;
  height: 30.03px;
}